<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appjam_willson">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ApplicationField.ApplicationFields"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".LoginRegisterActivity.SignUpPersonalityActivity" />
        <activity android:name=".HelperRequestCompleteActivity" />
        <activity android:name=".HelperSignUpActivity.HelperSignUpStartActivity" />
        <activity android:name=".HelperProfileEdit.HelperProfileEditActivityStart" />
        <activity android:name=".HelperSignUpActivity.HelperSignupConfirm2Activity" />
        <activity android:name=".HelperSignUpActivity.HelperSignupConfirm1Activity" />
        <activity android:name=".ConvConfirmActivity" />
        <activity android:name=".HelperProfileActivity" />
        <activity
            android:name=".HelperProfileEdit.HelperProfileEditActivityIntro"
            android:windowSoftInputMode="adjustPan" /> <!-- Login && Register -->
        <!-- Login && Register -->
        <activity android:name=".LoginRegisterActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginRegisterActivity.RegisterActivity_asker"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".LoginRegisterActivity.RegisterActivity_helper" />

        <!-- Chat -->
        <activity android:name=".ChatActivities.ChatActivity" />
        <activity android:name=".ChatActivities.HelperChatActivity" /> <!-- Main -->
        <activity android:name=".MainActivities.MainActivity"/>

        <activity android:name=".MainActivities.HelperActivity" />
        <activity android:name=".HelperProfileEdit.HelperProfileEditActivityHash" />
        <activity
            android:name=".HelperProfileEdit.HelperProfileEditActivityExp"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HelperProfileEdit.HelperProfileEditActivityC2" />

        <activity android:name=".HelperProfileEdit.HelperProfileEditActivityC1" />

        <!-- HelperSignUpEdit -->
        <activity android:name=".HelperSignUpActivity.HelperSignUp1_L_Activity" />
        <activity android:name=".HelperSignUpActivity.HelperSignUp1_M_Activity" />
        <activity android:name=".HelperSignUpActivity.HelperSignUp1_D_Activity" />
        <activity android:name=".HelperSignUpActivity.HelperSignUp1_E_Activity" />
        <activity android:name=".HelperSignUpActivity.HelperSignUp1_C_Activity" />
        <activity android:name=".HelperSignUpActivity.HelperSignUp1_R_Activity" />



        <activity android:name=".HelperSignUpActivity.HelperSignUpActivity0" />
        <activity android:name=".HelperSignUpActivity.HelperSignupActivity3" />
        <activity
            android:name=".HelperSignUpActivity.HelperSignUpActivity2"
            android:windowSoftInputMode="adjustPan" /> <!-- list 1 start -->
        <activity android:name=".FillinListActivity.List1LoveStartActivity" />
        <activity android:name=".FillinListActivity.List1CourseStartActivity" />
        <activity android:name=".FillinListActivity.List1MentalityStartActivity" />
        <activity android:name=".FillinListActivity.List1RelationshipsStartActivity" />
        <activity android:name=".FillinListActivity.List1DailyStartActivity" />
        <activity android:name=".FillinListActivity.List1EtcStartActivity" />

        <!-- list 1 -->
        <activity android:name=".FillinListActivity.List1LoveActivity" />
        <activity android:name=".FillinListActivity.List1CourseActivity" />
        <activity android:name=".FillinListActivity.List1MentalityActivity" />
        <activity android:name=".FillinListActivity.List1RelationshipsActivity" />
        <activity android:name=".FillinListActivity.List1DailyActivity" />
        <activity android:name=".FillinListActivity.List1EtcActivity" />

        <!-- lists -->
        <activity android:name=".FillinListActivity.List2Activity" />
        <activity android:name=".FillinListActivity.List3Activity" />
        <activity
            android:name=".FillinListActivity.List4Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".FillinListActivity.List5Activity" />
        <activity android:name=".FillinListActivity.List5_1Activity" />
        <activity android:name=".FillinListActivity.List6Activity" />
        <activity android:name=".FillinListActivity.List7Activity" />
        <activity android:name=".FillinListActivity.ListAgreementActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity android:name=".AskerProfileActivity" />
    </application>

</manifest>